body,html {
  background-color: white;
  font-family: arial;
}

ul {
  list-style-type: none;
  margin: 0,0,0,35;
  overflow: hidden;
  background-color: #F65E54;
  box-shadow: 5px 5px 5px #666;
  -moz-box-shadow: 5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
  margin-right: 5px;
  padding: 5px;
}

li {
  float: left;
  text-decoration: none;
}

h4:hover a:hover {
  text-decoration: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 20px;
  font-family: unset;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  padding: 20px;

}
a:hover{
  text-decoration: none;
}

/* div#accordion {
  padding-left: 70px;
  padding-right: 70px;
  text-decoration: none;
} */

div#Header {
 width:100%;
 text-align:center;
 text-decoration: none;
}

h2 {
  text-align: center;
}

h3 {
  padding-left: 15px;
  padding-top: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F65E54;
  color: white;
  text-align: center;
  font-size: 15px;
}

.background-img{
  background-image:url("../images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 19px;
  height: 3800px;
}

.intro{
   font-family: fantasy;
}

.slideheader {
  background-color: white;
  height: 520px;
}

/* .bodycolapse {
  background-color: white;
} */

.footer {
  padding-top: 5px;
  padding-bottom: 15px;
}

.contact {
  float: right;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px
}

.panel-group{
  width: 75%;
  float: right;
  text-align: justify;
  background-color: white;
  text-align: justify;
  padding-right:15px;
  padding-left:15px;
  border-radius: 5px;
}

.background-img{
  background-image:url("../images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  padding: 19px;
  height: 1100px;
}

.map {
  font-size: 20px;
}
